---
---
<div class="hero">
    <h1>Welcome to Scholarn</h1>
    <p> - An online school to learn with a rich variety of courses, personalized mentorship, and a flexible approach that adapts to your individual learning style.</p>
    <a href="{{ "/courses/" | relative_url }}" class="btn">Explore Courses</a>
</div>

<section class="featured-courses">
<h2>Popular Courses</h2>
    <div class="course-grid">
            {% for course in site.courses limit: 4 %}
        <div class="course-card">
            <h3><a href="{{ course.url }}">{{ course.title }}</a></h3>
                <p>{{ course.description }}</p>
                <p><strong>Category:</strong> {{ course.category }}</p>
                <a href="{{ course.url }}" class="btn">View Course</a>
        </div>
            {% endfor %}
    </div>
</section>
<section>
    <h2>Latest Mock Tests</h2>
    {% assign subjects = site.mocktests | map: 'subject' | uniq %}

    {% for subject in subjects %}
        <h2>{{ subject }}</h2>
        <ul>
            {% for mocktest in site.mocktests %}
            {% if mocktest.subject == subject %}
                <li>
                    <a href="{{ mocktest.url }}">{{ mocktest.title }}</a> - <em>{{ mocktest.topic }}</em>
                </li>      {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

</section>