// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
/* custom.scss */

.two-col-flex {
    ul {
        display: flex;           /* Flexbox layout */
        flex-wrap: wrap;         /* Allow items to wrap to the next line */
        list-style-type: none;   /* Remove bullet points */
        padding: 0;              /* Remove padding */
        margin: 0;               /* Remove margin */

        li {
            width: 50%;             /* Each item takes up half the width (2 items per row) */
            box-sizing: border-box;  /* Include padding and border in the width */
            padding: 5px 0;          /* Add spacing between items */
        }
    }
}

.hero {
  background-color: #282828;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.25rem;
}

.featured-courses {
  margin-bottom: 2rem;
}

.course-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.course-card {
  /*flex: 1 1 calc(25% - 1rem);*/
  background: #282828;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
}
